<!DOCTYPE html>
<html>
<head>
	<title>HanyaTugas3</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	

	<header>
		<h1 class="judul">HanyaTugas3</h1>
		<p class="deskripsi">Selamat datang di HanyaTugas3</p>
	</header>
	
	
	<div class="wrap">

		<nav class="menu">
			<ul>
				<li>
					<a href="#">Beranda</a>
				</li>
				<li>
					<a href="#">Materi</a>
				</li>
				<li>
					<a href="#">Info</a>
				</li>
				<li>
					<a href="#">Kontak</a>
				</li>
			</ul>
		</nav>
		<!-- akhir bagian menu -->
 
		<!-- bagian sidebar website -->
		<aside class="sidebar">
			<div class="widget">
				<h2>Tentang saya</h2>
				<p> RIEFKY ANANDIKA DJATITAMA</p>
				<p> 16.11.0404</p>
				<p> INFORMATIKA 07</p>
			</div>
			<div class="widget">
				<h2>Sosial Media</h2>
				<p><a target="_blank" href=https://www.instagram.com/riefkyad/>Instagram</a>.</p>
				<p><a target="_blank" href=https://www.facebook.com/Riefky007/>Facebook</a>.</p>
			</div>
		</aside>
	
 
		<div class="blog">
			<div class="ISI">
				<div class="post-info">
					Di Posting Oleh <b>Riefky Anandika Djatitama</b>
				</div>
				<img src="Sejarah_Internet.jpg">
				<h1> Sejarah Internet</h1>
				<hr>
				<p>
					merupakan jaringan komputer yang dibentuk oleh Departemen Pertahanan Amerika Serikat pada tahun 1969, melalui proyek ARPA yang disebut ARPANET (Advanced Research Project Agency Network), di mana mereka mendemonstrasikan bagaimana dengan hardware dan software komputer yang berbasis UNIX, kita bisa melakukan 
				</p>				
				<a href="#" class="Selengkapnya">Selengkapnya →</a>
			</div>
			
		</div>
		
	</div>
 
</body>
</html>